.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  width: 420px;
  background: #ffffff;
  border-radius: 24px;
  padding: 24px 32px;
  font-family: "Vazirmatn";
  box-shadow: 0 18px 45px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  gap: 6px;
}

.input {
  height: 38px;
  border-radius: 12px;
  border: 1px solid #e4e4e4;
  padding: 8px 12px;
  font-family: "Vazirmatn";
  font-size: 13px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 16px;
}

.cancel {
  border: none;
  background: transparent;
  color: #777;
  font-family: "Vazirmatn";
  cursor: pointer;
  background-color:  #DFDFDF;
  border-radius: 10px;
}

.submit {
  border: none;
  background: rgba(85, 163, 240, 1);
  color: #fff;
  font-family: "Vazirmatn";
  border-radius: 12px;
  padding: 8px 28px;
  cursor: pointer;
}
.cancel , .submit{
    margin: 12px;
    width: 30%;
    
}