.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  
}

.modal {
  width: 472px;
  height: 268px;
  
  background: white;
  border-radius: 30px;
  padding: 30px 20px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.iconWrapper {
  width: 80px;
  height: 80px;
  background: #ffe5e5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 15px;
}

.icon {
  font-size: 40px;
  color: #ff4d4d;
}

.title {
  font-size: 18px;
  margin-bottom: 25px;
  color: black;
  font-family: Vazirmatn;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.cancel {
  width: 30%;
  border-radius: 10px;
  padding: 10px;
  background-color: #f43f5e;
  font-family: "Vazirmatn";
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  border: none;
  text-align: center;
  background-color: #bab3b3;
  color: #282828cc;
}

.delete {
  width: 30%;
  border-radius: 10px;
  padding: 10px;
  background-color: #f43f5e;
  font-family: "Vazirmatn";
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  border: none;
  text-align: center;
}
.delete, .cancel{
    margin: 10px ;
}
